.title-img {
    width: 200px;
    height:230px;
    float: left;
}

.title-details {
    float: left;
    width: 200px;
    height:230px;
    background-color: rgb(12, 12, 12);
    position: relative;
    bottom: 230px;
    opacity: 0;
}

.title-details:hover {
    opacity: 80%;
    transition: 0.8s;
}