body {
  background-color: rgb(19, 19, 19);
}
button {
  color: black;
background-color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 25px;
padding-right: 25px;
border-width: 0px;
font-family: "Lucida Console", "Courier New", monospace;
font-weight: bold;
}

button:hover{
  padding-left: 30px;
padding-right: 30px;
transition: 1s;
cursor: pointer;
}

.selectedbtn {
  background-color: red;
  color: white;
}


input {
  width: 500px;
  height:25px;
}